.title {
  font-size: 30px !important;
  color: Royalblue !important;
}


.author-name {
  font-size: 50px !important;
  color: black !important;
}

h2 {
  
  font-size: 50px !important;
  color: Royalblue !important;
  
}

.test {
  
  font-size: 30px !important;
  color: black !important;
  
}

.test2 {
  font-size: 10px !important;
  color: black !important;
  
}

